.error-msg{
  color: #f50;
  padding-left: 10px;
}

.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* 否则底部导航栏会遮住整个页面，导致点击无反应 */
  z-index: -1;
}

.fixed-header, .am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}


.page-content{
  padding: 45px 5px;
} 
